NET "extCLK_50M" PERIOD = 20 ns HIGH 50%; 


##NET "CLK_50M" LOC = "T9" | IOSTANDARD = LVCMOS33;
NET "extCLK_50M" LOC = "P55" |IOSTANDARD = LVTTL;

##NET "PS2_CLK" LOC = "T7" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
##NET "PS2_DATA" LOC = "T8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
#NET "PS2_CLK" LOC = "P99" |IOSTANDARD = PCI33_3;
#NET "PS2_DATA" LOC = "P98" |IOSTANDARD = PCI33_3;
NET "PS2_CLK"        LOC = "P99" |IOSTANDARD = LVCMOS33 |PULLUP;
NET "PS2_DATA"       LOC = "P98" |IOSTANDARD = LVCMOS33 |PULLUP;


##NET "LINE_IN" LOC = "T6" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "LINE_IN" LOC = "P94" |IOSTANDARD = LVTTL;

#NET "LATCH_D0" LOC = "T12" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
#NET "LATCH_D4" LOC = "T10" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;

#NET "VIDEO_DATA" LOC = "P1" |IOSTANDARD = LVTTL;
#NET "VIDEO_SYNC" LOC = "N1" |IOSTANDARD = LVTTL;

NET "VGA_HSYNC" LOC = "P87" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
NET "VGA_VSYNC" LOC = "P85" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
NET "VGA_R" LOC = "P81" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
NET "VGA_G" LOC = "P84" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
NET "VGA_B" LOC = "P93" |IOSTANDARD = LVTTL |DRIVE = 8 |SLEW = FAST;
#NET "b<2>" LOC="P93" | IOSTANDARD = LVCMOS33;
#NET "b<1>" LOC="P92" | IOSTANDARD = LVCMOS33;
#NET "b<0>" LOC="P88" | IOSTANDARD = LVCMOS33;
#NET "g<2>" LOC="P84" | IOSTANDARD = LVCMOS33;
#NET "g<1>" LOC="P83" | IOSTANDARD = LVCMOS33;
#NET "g<0>" LOC="P82" | IOSTANDARD = LVCMOS33;
#NET "r<2>" LOC="P81" | IOSTANDARD = LVCMOS33;
#NET "r<1>" LOC="P80" | IOSTANDARD = LVCMOS33;
#NET "r<0>" LOC="P79" | IOSTANDARD = LVCMOS33;
#NET "hsync" LOC="P87" | IOSTANDARD = LVCMOS33; #87
#NET "vsync" LOC="P85" | IOSTANDARD = LVCMOS33;

#NET "DQext<0>" LOC = "C1" | IOSTANDARD = LVTTL | PULLUP;
#NET "DQext<1>" LOC = "D1" | IOSTANDARD = LVTTL | PULLUP;
#NET "DQext<2>" LOC = "E1" | IOSTANDARD = LVTTL | PULLUP;
#NET "DQext<3>" LOC = "F1" | IOSTANDARD = LVTTL | PULLUP;
#NET "DQext<4>" LOC = "G1" | IOSTANDARD = LVTTL | PULLUP;
#NET "DQext<5>" LOC = "H1" | IOSTANDARD = LVTTL | PULLUP;
#NET "DQext<6>" LOC = "J1" | IOSTANDARD = LVTTL | PULLUP;
#NET "DQext<7>" LOC = "K1" | IOSTANDARD = LVTTL | PULLUP;

#NET "RDnext" LOC = "L1" | IOSTANDARD = LVTTL | PULLUP;
#NET "WRnext" LOC = "M1" | IOSTANDARD = LVTTL | PULLUP;

#NET "Aext<0>" LOC = "C16" | IOSTANDARD = LVTTL | PULLUP;
#NET "Aext<1>" LOC = "D16" | IOSTANDARD = LVTTL | PULLUP;
#NET "Aext<2>" LOC = "E16" | IOSTANDARD = LVTTL | PULLUP;
#NET "Aext<3>" LOC = "F16" | IOSTANDARD = LVTTL | PULLUP;
#NET "Aext<4>" LOC = "G16" | IOSTANDARD = LVTTL | PULLUP;
#NET "Aext<5>" LOC = "H16" | IOSTANDARD = LVTTL | PULLUP;
#NET "Aext<6>" LOC = "J16" | IOSTANDARD = LVTTL | PULLUP;
#NET "Aext<7>" LOC = "K16" | IOSTANDARD = LVTTL | PULLUP;

#NET "M1next" LOC = "L16" | IOSTANDARD = LVTTL | PULLUP;
#NET "IORQnext" LOC = "M16" | IOSTANDARD = LVTTL | PULLUP;



#NET "/CLK_50M_VGA" PERIOD = 20 ns HIGH 50%;

NET "/PDIV(0)" PERIOD = 40 ns HIGH 50%;
##NET "/CPU_CLK_n" PERIOD = 40 ns HIGH 50%;
NET "/VGAOUT/CLK_25M" PERIOD = 40 ns HIGH 50%;



